<div id="profileCard" class="container mt-4">
  <div class="row">
    <!-- Left-side card for user details -->
    <div class="col-md-6 profile-info">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{name}}'s Techlines Profile!</h2>
         <h3>{{name}}</h3>
         <h3>{{email}}</h3>
        </div>
      </div>
    </div>

    <!-- Right-side card for creating new posts and displaying current posts -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- Create new post form -->
          <form class="new-post-form">
            <h3>Create a New Post:</h3>
            <div class="form-group">
              <label for="post-content">Content:</label>
              <textarea class="form-control" id="post-content" name="post-content"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>

          <!-- Display current posts -->
          <div class="posts-list mt-4">
            {{#if blogs.length}}
              <h3>Current Posts:</h3>
              {{#each blogs as |blog|}}
                <div class="row mb-2 current-post">
                  <div class="col-md-8">
                    <h4><a href="/posts/{{blog.id}}">{{blog.name}}</a></h4>
                    {{> blog-details}}
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-lg btn-danger delete" data-id="{{blog.id}}">DELETE
                    </button>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <p>No posts available.</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>
